.preloader > div {
      background-color: #72c2a1;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: inline-block;

}

.preloader > div {
    background-color: #4e73df;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    animation: stretchdelay 0.7s infinite ease-in-out;
}

@keyframes stretchdelay {
   0%, 40%, 100% { 
        transform: translateY(11px);
   }
   20% {
        transform: translateY(1px);
   }
}
.preloader .circ1 {
  animation-delay: 0;
  margin-left:10px;
}

.preloader .circ2 {
    animation-delay: 0.1s;
    margin-left: 5px;
}

.preloader .circ3 {
    animation-delay: 0.2s;
    margin-left: 5px;
}

.preloader .circ4 {
    animation-delay: 0.3s;
    margin-left: 5px;
}


.preloader {
    display: flex;
    justify-content: center;
}